source/texts/chantey.dtd

<!ELEMENT chantey (title,collection?,author,perfomer?,use?,ID,crossref?,text?,abc?)>
<!ELEMENT title (CDATA) >
<!ELEMENT collection (CDATA) >
<!ELEMENT author (personid+) >
<!ELEMENT performer (personid) >
<!ELEMENT use (usetype+) >
<!ELEMENT ID (CDATA) >
<!ELEMENT crossref (ID+) >
<!ELEMENT text (CDATA) >
<!ELEMENT abc (CDATA) >
<!ELEMENT personid (CDATA) >
<!ELEMENT usetype (CDATA) >

